/* Modo claro (por defecto) */
body {
    background: white;
    color: black;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  /* Modo oscuro */
  .dark-mode {
    background: black;
    color: white;
  }
  